.App {
  text-align: center;
  background-color:#54B2FF;
}

.Week-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-between;
  grid-auto-flow: row;
  padding: 1em;
}

/* .Week-item {
  align-items: stretch;
  border: 1px solid;
  border-radius: 5px;
  display: grid;
  padding: 0em 1em 1em;
  margin: 0em 0em 1em 1em;
} */

.Week-header {
  align-items: center;
  padding-top: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Day-item {
  padding: 0em .25em 0em;
}

.Day-header {
  background-color: #37474f;
  border-radius: 5px;
  color: white;
  margin: 0em -.75em 1em;
  padding: .5em;
}

.Detail-modal-background {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Detail-modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.Icons {
  width: 100px;
  justify-self: center;
}
