.App {
  text-align: center;
  background-color: aqua;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aqua,
}

.Week-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  grid-auto-flow: row;
}

.Week-item {
  justify-items: start;
  border: 1px solid;
}

.Week-header {
  align-items: center;
}

.Day-item {
  justify-content: flex-start;
}

.Day-header {
  background-color: blue;
  color: white;
  margin-top: 0;
}