.App {
  text-align: center;
  background-color: aqua;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aqua,
}

.Week-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* grid-template-rows: auto; */
  justify-items: stretch;
  justify-content: center;
  grid-auto-flow: row;
  /* flex-direction: row;
  align-items: center;
  justify-content: center; */
}

.Week-item {
  justify-items: start;
  border: 1px solid;
}

.Week-header {
  align-items: center;
}

.Day-item {
  
}

.Day-header {
  
}